html {
  font-size: 100%;
}

body {
  background-color: rgb(50,50,50);
}


/*********/
/* Fonts */
/*********/
@font-face {
  font-family: TitleFont;
  src:  url('fonts/Caviar-Dreams/CaviarDreams.ttf');
}
@font-face {
  font-family: TextFontLight;
  src: url('fonts/fira-code/static/FiraCode-Light.ttf');
}
@font-face {
  font-family: TextFontBold;
  src: url('fonts/fira-code/static/FiraCode-SemiBold.ttf');
}
h1 {
  font-family: TitleFont;
}
h2, p {
  font-family: TextFontLight;
}

h1, h2 {
  font-weight: 400;
  color: rgb(250,250,250);
}

h1, h2 {
  letter-spacing: 0.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1em;
  color: rgb(150,150,150);
}


/**************/
/* Composants */
/**************/
.card {
  width: 33%;
  margin-right: 5em;
}

.field {
  height: 3em;
  background-color: rgb(150,150,150);
  color: rgb(50,50,50);
  font-size: 1em;
  padding: 0 1em;
  border: 0;
  margin: 1em 1em 0 0;
}

#picture {
  width: 100%;
}

.button {
  background-color: rgb(50,50,50);
  border: 1px solid red;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  color: rgb(250,250,250);
  box-shadow: 0 0 3px rgb(150,150,150);
}
.button:hover {
  box-shadow: inset 0 0 2px rgb(150,150,150);
  cursor: pointer;
  transition: 1s ease-out 1s;
}


/*******/
/* Div */
/*******/
.container {
  width: 50%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.box-between {
  display: flex;
  justify-content: space-between;
}

#header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1em;
}

#result {
  list-style: none;
}
